# Preprocess

## 1. Import library

In [95]:
import pandas as pd
from nltk.corpus import stopwords

## 2. Preprocessing

### 2.1. Remove stopword

In [96]:
# Load the dataset
df = pd.read_csv('../data/emails.csv')

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [97]:
stop_words = set(stopwords.words('english'))
for column in df.columns:
    if column in stop_words:
        df.drop(column, axis=1, inplace=True)

# Remove the columns that are not useful
df.to_csv('../data/Preprocessing.csv', index=False)

,Email No.,ect,hou,enron,com,gas,deal,meter,hpl,please,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,24,27,1,3,1,0,0,0,2,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,1,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,22,10,0,0,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,17,9,0,0,2,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0

### 2.2. TF_IFD Vectorizer

In [98]:
from sklearn.feature_extraction.text import TfidfVectorizer

df['combined_text'] = df.drop(['Email No.', 'Prediction'], axis=1).apply(
    lambda row: ' '.join([f"{word} " * int(row[word]) for word in row.index if row[word] > 0]), axis=1
)

print(df['combined_text'])

0       ect  e e e e  j  b  p  c c c  r r r r  f  h  u...
1       ect ect ect ect ect ect ect ect ect ect ect ec...
2       ect  gas gas  e e e  j  l l l l  nom nom  b  p...
3       ect ect ect ect ect ect ect ect ect ect ect ec...
4       ect ect ect ect ect ect ect ect ect ect ect ec...
                              ...
5167    ect ect  e e e e e e e e e e e e e e e e e e e...
5168    ect ect ect ect ect ect ect ect ect ect ect  h...
5169    ect  e e e e e e e e e e e e  j j  l l l l l  ...
5170    ect  com com com com  deal  please  e e e e e ...
5171    ect ect ect ect ect  hou hou  enron  com  gas ...
Name: combined_text, Length: 5172, dtype: object

In [13]:
# Create the TF-IDF vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
vectorizer = TfidfVectorizer()
df1 = pd.read_csv('../data/tfidf_output_cleaned.csv',encoding='latin1')
tfidf_matrix = vectorizer.fit_transform(df1['imp_feature'])

# Convert the tfidf_matrix to a DataFrame
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

tfidf_df["prediction"] = df1["Label"]

# Save the DataFrame to a CSV file
tfidf_df.to_csv('../data/tfidf_matrix.csv', index=False,encoding='latin1')